name: quotely_flutter_app
description: "A new Flutter project."

publish_to: 'none' 

version: 1.1.5+11

environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flex_color_scheme: ^8.0.2
  google_fonts: ^6.2.1
  shared_preferences: ^2.5.3
  go_router: ^17.0.0
  animate_do: ^4.2.0
  dot_navigation_bar: ^1.0.2
  carousel_slider: ^5.0.0
  flutter_riverpod: ^3.0.3
  riverpod_annotation: ^3.0.3
  dio: ^5.7.0
  json_annotation: ^4.9.0
  json_serializable: ^6.8.0
  skeletonizer: ^2.0.1
  loading_animation_widget: ^1.3.0
  path_provider: ^2.1.5
  flutter_displaymode: ^0.7.0
  intl: ^0.20.1
  package_info_plus: ^9.0.0
  flutter_dotenv: ^6.0.0
  firebase_analytics: ^12.0.4
  firebase_core: ^4.2.1
  firebase_core_platform_interface: ^6.0.2
  firebase_crashlytics: ^5.0.5
  firebase_messaging: ^16.0.4
  flutter_local_notifications: ^19.1.0
  flutter_native_splash: ^2.4.2
  device_info_plus: ^12.3.0
  flutter_exit_app: ^2.0.0
  motion_toast: ^2.11.0
  url_launcher: ^6.3.1
  open_file: ^3.5.10
  permission_handler: ^12.0.0+1
  drift: ^2.26.0
  drift_flutter: ^0.2.4
  get_it: ^9.1.1
  hexcolor: ^3.0.1
  drift_db_viewer: ^2.1.0
  talker: ^5.1.1
  talker_flutter: ^5.1.1
  talker_dio_logger: ^5.1.1
  talker_riverpod_logger: ^5.1.1
  share_plus: ^12.0.1
  in_app_update: ^4.2.3
  flutter_markdown_plus: ^1.0.3
  in_app_purchase: ^3.2.3
  smooth_page_indicator: ^1.2.1
  font_awesome_flutter: ^10.8.0
  async_queue: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  lint_staged: ^0.5.1
  husky: ^0.1.7
  riverpod_generator: ^3.0.3
  build_runner: ^2.4.15
  riverpod_lint: ^3.0.3
  drift_dev: ^2.26.0

flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
    - assets/legal/
    - assets/splash/
    - assets/onboarding/
    - .env

lint_staged:
  "lib/**.dart": dart format --fix && dart fix --apply
